<div ng-controller="editCtrl" class="container">
    <h1 class="center-align">Banco de Talentos - Easy Communication & Technology (Developers/Desenvolvedores)</h1>
    <div class="card-panel  light-blue lighten-5" id="step1" ng-include="'View/step1.html'" ng-show="steps[0].isStep">

    </div>
    <div class="card-panel  light-blue lighten-5" id="step2" ng-include="'View/step2.html'" ng-show="steps[1].isStep">

    </div>
    <div class="card-panel  light-blue lighten-5" id="step3" ng-include="'View/step3.html'" ng-show="steps[2].isStep">

    </div>
    <div class="card-panel  light-blue lighten-5" id="step4" ng-include="'View/step4.html'" ng-show="steps[3].isStep">

    </div>
</div>
